// Grid breakpoints map.
$grid-breakpoints-map: (
  xxs: (
    breakpoint: 0px,
    gutter: 30px,
  ),
  xs: (
    breakpoint: 576px,
    container: 100%,
    gutter: 30px,
  ),
  sm: (
    breakpoint: 768px,
    container: 720px,
    gutter: 30px,
  ),
  md: (
    breakpoint: 992px,
    container: 960px,
    gutter: 30px,
  ),
  lg: (
    breakpoint: 1200px,
    container: 1170px,
    gutter: 30px,
  )
);
