.block--views-block-relevant-relevant-content-block {
  @include make-col-ready();
  @include make-col(12);

  .view-content {
    @include make-row();
    justify-content: center;
  }

  .views-row {
    @include make-col-ready();
    @include make-col(12);
    margin-bottom: $grid-gutter-width / 2;

    @include media-breakpoint-up(md) {
      @include make-col(6);
    }

    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
  }

  .views-row {
    position: relative;

    .views-field-title {
      @include media-breakpoint-up(lg) {
        font-size: 1.5rem;
      }

      position: absolute;
      left: 50%;
      top: 50%;
      min-width: 70%;
      max-width: 70%;
      transform: translate(-50%, -50%);
      text-align: center;
      text-transform: uppercase;
      color: palette-color('text', 'alternative');
      background-color: $primary;

      a {
        padding: .25rem .5rem;
        color: inherit;
      }
    }

    .views-field-field-image {

      img {
        border-radius: .5rem;
      }
    }

    .views-field-field-relevant-link {
      position: absolute;
      top: 0;
      left: .938rem;
      height: 100%;
      width: calc(100% - 1.875rem);
      font-size: 0;
      text-indent: -62.438rem;

      .field-content {
        height: 100%;
        width: 100%;

        a {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
