// UI Palette.
$palette-ui: (
  'info': #5087E8,
  'positive': #8DCF81,
  'negative': #DE3E55,
  'warning': #FFC82C,
  'accent': #2F4F89,
  'inactive': #BED1F3,
  'disabled': #E0E4EC,
  'gray': #F7F9FB,
);

$palette-text: (
  'main': #434d53,
  'disabled': #9B9B9B,
  'alternative': #FFFFFF,
  'accented': #2F4F89,
);

// Update whole palette.
$palette-colors: (
  'ui':     $palette-ui,
  'text':   $palette-text,
  'shades': $palette-shades,
);
