// ====================
//  Mobile first.
// ====================
.section--header {
  .region--header-top--wrapper {
    //background: url('../images/header-bg.png');
    //background-size: contain;
    background-color: $primary;
    box-shadow: $box-shadow;

    @include media-breakpoint-up(lg) {
      box-shadow: none;
    }
  }

  .region--header-top {
    @include make-container();
    @include make-container-max-widths();
  }

  .region--header-top--body {
    @include make-row();
  }

  .region--header-bottom--wrapper {
    box-shadow: $box-shadow;
  }

  .region--header-bottom {
    @include make-container();
    @include make-container-max-widths();
  }

  .region--header-bottom--body {
    @include make-row();
  }
}

// ====================
//  Tablet
// ====================
@include media-breakpoint-up(sm) {

}

// ====================
//  Desktop
// ====================
@include media-breakpoint-up(lg) {

}
