.page--pm-variant--frontpage-panels-variant-0 {
  .layout--onecol {
    @include make-container();
    @include make-container-max-widths();
  }

  .layout__region--content {
    @include make-row();
  }

  .block-region-content {
    max-width: 100%;

    & > * {
      margin-bottom: $spacer * 4;
    }
  }

  .block--views-block-frontpage-slider-block-frontpage-slider {
    width: 100%;
    padding: 0;

    @include media-breakpoint-up(md) {
      @include make-col-ready();
    }
  }
}
