.view-display-id-block_frontpage_slider {
  position: relative;
  box-shadow: $box-shadow;

  .slick__slide {
    position: relative;

    &:focus {
      outline: none;
    }

    .media--slick {
      padding-bottom: 0 !important;
    }

    .slide__caption {
      position: absolute;
      right: 6rem;
      bottom: 3rem;
      width: 50%;
    }

    .views-field-title {
      margin-bottom: 1rem;
      text-align: right;

      .field-content {
        display: inline-block;
        padding: 1rem;
        background: $primary;
        color: palette-color('text', 'alternative');
        text-transform: uppercase;
        font-size: 2rem;
      }
    }

    .views-field-field-slide-description {
      text-align: right;

      .field-content {
        display: inline-block;
        padding: 1rem;
        background: $light;

        p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    width: 32px;
    height: 55px;
    transform: translate(0, -50%);
    font-size: 0;

    &:focus, &:active, &:focus:active {
      outline: none;
      border: none;
    }
  }

  .slick-prev {
    background: url("../images/arrow-left.png");
    left: 1rem;
  }

  .slick-next {
    background: url("../images/arrow-right.png");
    right: 1rem;
  }

  .slick-dots {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;

      button {
        font-size: 0;
        width: 1rem;
        height: 1rem;
        background-color: $light;
        opacity: 50%;
        border-radius: 50%;
        margin: 0 0.5rem;

        &:focus, &:active, &:focus:active {
          outline: none;
          border: none;
        }
      }

      &.slick-active button {
        width: 1.2rem;
        height: 1.2rem;
        opacity: 100%;
      }
    }
  }
}
