//
// Basic Bootstrap table
//

.table {
  width: 100%;
  margin-bottom: $spacer;
  color: $table-color;
  background-color: $table-bg; // Reset for nesting within parents with `background-color`.
  box-shadow: $box-shadow-sm;

  th,
  td {
    padding: $table-cell-padding;
    vertical-align: top;
    border-top: $table-border-width solid $table-border-color;
    border-left: $table-border-width solid $table-border-color;

    &:first-child {
      border-left: none;
    }
  }

  thead {
    border-top-left-radius: $input-border-radius;
    border-top-right-radius: $input-border-radius;

    th {
      vertical-align: bottom;
      border-top: none;
      border-bottom: (2 * $table-border-width) solid $table-border-color;
      border-color: $white;
      color: $table-head-color;
      background-color: $table-head-bg;

      &:last-child {
        border-radius: 0 $border-radius-lg 0 0;
      }

      &:first-child {
        border-radius: $border-radius-lg 0 0 0;
      }
    }

    tr.control {
      visibility: hidden;
      border: none;
      padding: 0;

      th {
        visibility: hidden;
        border: none;
        padding: 0;
        font-size: 0;
      }
    }
  }

  tbody + tbody {
    border: none;
  }

  /*tbody tr:nth-of-type(#{$table-striped-order}) {
    background-color: $table-accent-bg;
  }*/
}
