h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #1f3854; text-decoration: none; font-weight: inherit; }

h1 { color: #1f3854; text-transform: uppercase; font-weight: bold; }

h2 { color: #1f3854; font-weight: bold; }

h3 { color: #1f3854; text-transform: uppercase; font-weight: bold; }

h4 { text-transform: uppercase; font-weight: bold; }

h5 { color: #1f3854; text-transform: uppercase; }

h6 { text-transform: uppercase; }

.h0, .h0-xs { font-size: 16px; margin-bottom: 16px; }

h1 { font-size: 32px; margin-bottom: 16px; }

.h1, .h1-xs { font-size: 32px; margin-bottom: 16px; }

h2 { font-size: 28px; margin-bottom: 16px; }

.h2, .h2-xs { font-size: 28px; margin-bottom: 16px; }

h3 { font-size: 24px; margin-bottom: 16px; }

.h3, .h3-xs { font-size: 24px; margin-bottom: 16px; }

h4 { font-size: 20px; margin-bottom: 16px; }

.h4, .h4-xs { font-size: 20px; margin-bottom: 16px; }

h5 { font-size: 18px; margin-bottom: 16px; }

.h5, .h5-xs { font-size: 18px; margin-bottom: 16px; }

h6 { font-size: 16px; margin-bottom: 16px; }

.h6, .h6-xs { font-size: 16px; margin-bottom: 16px; }

@media (min-width: 576px) { .h0, .h0-sm { font-size: 16px; margin-bottom: 16px; } }

@media (min-width: 576px) { h1 { font-size: 32px; margin-bottom: 16px; }
  .h1, .h1-sm { font-size: 32px; margin-bottom: 16px; } }

@media (min-width: 576px) { h2 { font-size: 28px; margin-bottom: 16px; }
  .h2, .h2-sm { font-size: 28px; margin-bottom: 16px; } }

@media (min-width: 576px) { h3 { font-size: 24px; margin-bottom: 16px; }
  .h3, .h3-sm { font-size: 24px; margin-bottom: 16px; } }

@media (min-width: 576px) { h4 { font-size: 20px; margin-bottom: 16px; }
  .h4, .h4-sm { font-size: 20px; margin-bottom: 16px; } }

@media (min-width: 576px) { h5 { font-size: 18px; margin-bottom: 16px; }
  .h5, .h5-sm { font-size: 18px; margin-bottom: 16px; } }

@media (min-width: 576px) { h6 { font-size: 16px; margin-bottom: 16px; }
  .h6, .h6-sm { font-size: 16px; margin-bottom: 16px; } }

@media (min-width: 768px) { .h0, .h0-md { font-size: 16px; margin-bottom: 16px; } }

@media (min-width: 768px) { h1 { font-size: 32px; margin-bottom: 16px; }
  .h1, .h1-md { font-size: 32px; margin-bottom: 16px; } }

@media (min-width: 768px) { h2 { font-size: 28px; margin-bottom: 16px; }
  .h2, .h2-md { font-size: 28px; margin-bottom: 16px; } }

@media (min-width: 768px) { h3 { font-size: 24px; margin-bottom: 16px; }
  .h3, .h3-md { font-size: 24px; margin-bottom: 16px; } }

@media (min-width: 768px) { h4 { font-size: 20px; margin-bottom: 16px; }
  .h4, .h4-md { font-size: 20px; margin-bottom: 16px; } }

@media (min-width: 768px) { h5 { font-size: 18px; margin-bottom: 16px; }
  .h5, .h5-md { font-size: 18px; margin-bottom: 16px; } }

@media (min-width: 768px) { h6 { font-size: 16px; margin-bottom: 16px; }
  .h6, .h6-md { font-size: 16px; margin-bottom: 16px; } }

@media (min-width: 992px) { .h0, .h0-lg { font-size: 16px; margin-bottom: 16px; } }

@media (min-width: 992px) { h1 { font-size: 40px; margin-bottom: 16px; }
  .h1, .h1-lg { font-size: 40px; margin-bottom: 16px; } }

@media (min-width: 992px) { h2 { font-size: 32px; margin-bottom: 16px; }
  .h2, .h2-lg { font-size: 32px; margin-bottom: 16px; } }

@media (min-width: 992px) { h3 { font-size: 28px; margin-bottom: 16px; }
  .h3, .h3-lg { font-size: 28px; margin-bottom: 16px; } }

@media (min-width: 992px) { h4 { font-size: 24px; margin-bottom: 16px; }
  .h4, .h4-lg { font-size: 24px; margin-bottom: 16px; } }

@media (min-width: 992px) { h5 { font-size: 20px; margin-bottom: 16px; }
  .h5, .h5-lg { font-size: 20px; margin-bottom: 16px; } }

@media (min-width: 992px) { h6 { font-size: 16px; margin-bottom: 16px; }
  .h6, .h6-lg { font-size: 16px; margin-bottom: 16px; } }

input[type="radio"], input[type="checkbox"] { width: 1.5rem; height: 1.5rem; }

label.option { display: inline-block; margin-left: 1rem; }

.table { width: 100%; margin-bottom: 1rem; color: #434d53; box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.075); /*tbody tr:nth-of-type(even) { background-color: $table-accent-bg; }*/ }

.table th, .table td { padding: 0.75rem; vertical-align: top; border-top: 1px solid #ced4da; border-left: 1px solid #ced4da; }

.table th:first-child, .table td:first-child { border-left: none; }

.table thead { border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem; }

.table thead th { vertical-align: bottom; border-top: none; border-bottom: 2px solid #ced4da; border-color: #fff; color: #fff; background-color: #1f3854; }

.table thead th:last-child { border-radius: 0 0.5rem 0 0; }

.table thead th:first-child { border-radius: 0.5rem 0 0 0; }

.table thead th:first-child:last-child { border-radius: 0.5rem 0.5rem 0 0; }

.table thead tr.control { visibility: hidden; border: none; padding: 0; }

.table thead tr.control th { visibility: hidden; border: none; padding: 0; font-size: 0; }

.table tbody + tbody { border: none; }

.item-list ul li { list-style: none; }

.item-list ul li::before { content: "\2022"; color: #1f3854; font-size: 1.5rem; margin-left: -1.125rem; margin-right: 0.425rem; }

.vertical-tabs { border: none; border-radius: 0.5rem 0.5rem 0 0; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.vertical-tabs__menu { border: none; background: #1f3854; border-radius: 0.5rem 0 0 0; }

.vertical-tabs__menu-item { background: #1f3854; border: none; padding: 1rem; }

.vertical-tabs__menu-item:hover { background: #1f3854; }

.vertical-tabs__menu-item.first { border-radius: 0.5rem 0 0 0; }

.vertical-tabs__menu-item.is-selected { background: #1f3854; }

.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-item-title { color: #FFFFFF; }

.vertical-tabs__menu-item .vertical-tabs__menu-item-title { font-weight: 400; }

.vertical-tabs__menu-item a { color: #FFFFFF; border-bottom: 1px solid #F7F9FB; text-transform: uppercase; padding: 0 0.5rem 0.5rem 0.5rem; }

.vertical-tabs__menu-item a:hover { outline: none; text-decoration: none; }

.vertical-tabs__menu-item a:hover .vertical-tabs__menu-item-title { text-decoration: none; }

.vertical-tabs__menu-item a:focus .vertical-tabs__menu-item-title { text-decoration: none; }

.vertical-tabs__panes { border-radius: 0 0.5rem 0 0; }

.view-display-id-block_frontpage_slider { position: relative; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.view-display-id-block_frontpage_slider .slick__slide { position: relative; }

.view-display-id-block_frontpage_slider .slick__slide:focus { outline: none; }

.view-display-id-block_frontpage_slider .slick__slide .media--slick { padding-bottom: 0 !important; }

.view-display-id-block_frontpage_slider .slick__slide .slide__caption { position: absolute; right: 4rem; bottom: 2.5rem; width: 50%; }

@media (min-width: 768px) { .view-display-id-block_frontpage_slider .slick__slide .slide__caption { right: 6rem; bottom: 3rem; } }

.view-display-id-block_frontpage_slider .slick__slide .views-field-title { text-align: right; }

@media (min-width: 576px) { .view-display-id-block_frontpage_slider .slick__slide .views-field-title { margin-bottom: 1rem; } }

.view-display-id-block_frontpage_slider .slick__slide .views-field-title .field-content { display: inline-block; padding: 1rem; background: #1f3854; color: #FFFFFF; text-transform: uppercase; font-size: 1rem; }

@media (min-width: 576px) { .view-display-id-block_frontpage_slider .slick__slide .views-field-title .field-content { font-size: 1.2rem; } }

@media (min-width: 768px) { .view-display-id-block_frontpage_slider .slick__slide .views-field-title .field-content { font-size: 1.5rem; } }

.view-display-id-block_frontpage_slider .slick__slide .views-field-field-slide-description { text-align: right; display: none; }

@media (min-width: 576px) { .view-display-id-block_frontpage_slider .slick__slide .views-field-field-slide-description { display: block; } }

.view-display-id-block_frontpage_slider .slick__slide .views-field-field-slide-description .field-content { display: inline-block; padding: 1rem; background: #F7F9FB; }

.view-display-id-block_frontpage_slider .slick__slide .views-field-field-slide-description .field-content p:last-child { margin-bottom: 0; }

.view-display-id-block_frontpage_slider .slick-arrow { position: absolute; top: 50%; width: 32px; height: 55px; transform: translate(0, -50%); font-size: 0; }

.view-display-id-block_frontpage_slider .slick-arrow:focus, .view-display-id-block_frontpage_slider .slick-arrow:active, .view-display-id-block_frontpage_slider .slick-arrow:focus:active { outline: none; border: none; }

.view-display-id-block_frontpage_slider .slick-prev { background: url("../images/arrow-left.png"); left: 1rem; }

.view-display-id-block_frontpage_slider .slick-next { background: url("../images/arrow-right.png"); right: 1rem; }

.view-display-id-block_frontpage_slider .slick-dots { display: flex; flex-direction: row; position: absolute; bottom: 1rem; left: 50%; transform: translate(-50%, 0); list-style: none; padding: 0; margin: 0; justify-content: center; }

.view-display-id-block_frontpage_slider .slick-dots li { display: inline-block; }

.view-display-id-block_frontpage_slider .slick-dots li button { font-size: 0; width: 1rem; height: 1rem; background-color: #F7F9FB; opacity: 50%; border-radius: 50%; margin: 0 0.5rem; }

.view-display-id-block_frontpage_slider .slick-dots li button:focus, .view-display-id-block_frontpage_slider .slick-dots li button:active, .view-display-id-block_frontpage_slider .slick-dots li button:focus:active { outline: none; border: none; }

.view-display-id-block_frontpage_slider .slick-dots li.slick-active button { width: 1.2rem; height: 1.2rem; opacity: 100%; }

#cboxWrapper { background: #1f3854; }

#cboxWrapper #cboxContent { background: #1f3854; }

#cboxWrapper #cboxTitle { background: #1f3854; color: #FFFFFF; opacity: 60%; }

#cboxWrapper #cboxClose { width: 64px; background-image: none; background-color: #secondary; color: #FFFFFF; font-weight: 1rem; text-indent: 0; }

.node-card { border-radius: 0.5rem; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); margin-bottom: 4rem; }

.node-card .teaser-image img { display: block; margin-left: auto; margin-right: auto; border-radius: 0.5rem 0.5rem 0 0; }

.node-card .card-content { padding: 1rem; text-align: center; }

.node-card .card-content * { margin-bottom: 1rem; }

.node-card .card-title { font-size: 1.2rem; color: #1f3854; text-transform: uppercase; }

.node-card .view-link a { color: #FFFFFF; }

.node-card .view-link a:hover, .node-card .view-link a:active, .node-card .view-link a:hover:active, .node-card .view-link a:visited { color: #FFFFFF; text-decoration: none; }

ul.lightgallery { position: relative; list-style: none; padding: 0; margin-bottom: 0; }

/*# sourceMappingURL=components.css.map */