.slick-arrow {
  position: absolute;
  top: 50%;
  width: 31px;
  height: 32px;
  transform: translate(0, -50%);
  font-size: 0;

  &:focus, &:active, &:focus:active {
    outline: none;
    border: none;
  }
}

.slick-prev {
  background: url("../images/arrow-left.jpg");
  left: 1rem;
}

.slick-next {
  background: url("../images/arrow-right.jpg");
  right: 1rem;
}

.slick-dots {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;

  li {
    display: inline-block;

    button {
      font-size: 0;
      width: 1rem;
      height: 1rem;
      background-color: $light;
      opacity: 50%;
      border-radius: 50%;
      margin: 0 0.5rem;

      &:focus, &:active, &:focus:active {
        outline: none;
        border: none;
      }
    }

    &.slick-active button {
      width: 1.2rem;
      height: 1.2rem;
      opacity: 100%;
    }
  }
}
